$primary-color: #004e75;
$secondary-color: #03b0ac;
$ternary-color: #09afa9;
$light-secondary-color: #51e3a5;
$dark-secondary-color: #297555;
$text-color: #909196;
$disabled-text-color: #737484;
$light-disabled-color: #dad9de;
$back-ground-color: #f0efea;
$primary-active-color: #01324b;
$secondary-active-color: #46bf8a;
$border-color: #ccc;
$overlay-color: #000000a8;
$light-color: #ffffff;
$dark-color: #000000;
